<style>
     *{
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
    }
    .banner{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    section{
        width:86%;
    }
    .off{
        text-align: center;
        font-size: 60px;
        font-weight: 600;
        color:#ff3434;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .holiday{
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        color:#ff3434;
    }
    .categories{
    color:#070211;
    text-align:center;
    font-size:48px;
    margin-top: 20px;
    }
    .newyear-img-container{
        display:flex;
        justify-content: center;
        margin-top: 48px;
    }
    .newyear-img{
     margin: 0 auto;
    }
    .welcome-party-container{
        display: flex;
        justify-content: center;
        margin-top: 34px;
    }
    .banner {
    width: 1320px;
    height: 600px;
    background-image: url('./images/Vectorrr.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    position:relative;
    
}
#main-banner{
  position:relative;
}
.banner {
  position: relative;
}

#banner-title {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Background color with transparency */
  color: white; /* Text color */
  padding: 10px; /* Adjust padding as needed */
  font-size: 24px; /* Adjust font size as needed */
}


.banner h1 {
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    position:absolute;
    top:179px;
    left: 411px;
    font-family: noto serif;
    font-size:64px ;
    letter-spacing: 8px;
}
.banner .party{
  color: white;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 262px;
  left: 343px;
  font-family: noto serif;
  font-size: 64px;
  letter-spacing: 8px;
  z-index: 11;
}
 .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
} 
.banner p{
  color: #989696f5;
  width: 60%;
  position: absolute;
  top: 178px;
  right: 93px;
  text-align: justify;
  font-size: 28px;
  right: 20px;
  font-size: 33px;
  font-family: "merriweather",sans-serif;
}
.banner .midnight-para{
  color: #989696f5;
  width: 60%;
  position: absolute;
  top: 358px;
  left: 270px;
  text-align: justify;
  font-size: 20px !important;
  right: 63px;
  font-size: 33px;
  font-family: "merriweather",sans-serif;
  z-index: 11;
}
.banner .fun{
  color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 222px;
  left: 317px;
  text-align: justify;
  font-size: 18px;
  right: 279px;
  font-size: 65px;
  font-family: "merriweather",sans-serif;
}
.banner .join{
    color:whitesmoke;
    width: 45%;
    position:absolute;
    top:550px;
    left:100px;
    text-align: justify;
    font-size:20px;
}
.banner .img{
    position:absolute;
    top:70px;
    right:100px;

}
.gradient-container {
    margin-top: 33px;
    width: 1320px;
    height: 482px;
    background: rgba(255, 72, 52, 0.553); /* fallback for browsers that don't support gradients */
    background: linear-gradient(to bottom, rgba(255, 52, 52, 0.461), rgb(229, 231, 235));
    border-radius: 8px;
    position:relative;
    margin: 0 auto; 
    text-align: center;
    padding: 20px; 
  }
.gradient-container .place{
  position:absolute;
  top:150px;
  left:488px;
  font-size: 32px;
  }
.gradient-container .date{
  position:absolute;
  top:200px;
  left:431px;
  font-size: 32px;
  }
.gradient-container .time{
  position:absolute;
  top:250px;
  left:394px;
  font-size: 32px;
  }
.gradient-container span{
 color:#ff3434;
  }
.gradient-container button{
 color:white;
 background: #ff3434;
 border:none;
 outline:none;
 position: absolute;
 top: 306px;
 left: 603px;
 padding: 10px 9px;
 border-radius:5px;
 font-size: 22px;
  }
  .offer-column-container{
    width: 1320px;
    height: 463px;
    display:flex;
    justify-content: center;
    gap:10px
  }
  .offer-column-one{
  width: 393px;
  height: 255px;
  font-size: 24px;
  color: #ff0000;
  margin-top: 60px;
  padding: 10px;
  }
  .offer-column-one span{
  font-family: "Merriweather", serif;
  font-size:48px;
  color:#070211;
  
  }
  .offer-column-one p{
 
  font-size:20px;
  color:#0702117e;
  font-weight: 400;
  
  
  }
  .offer-column-two{
  width: 463px;
  height:463px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  }
  .offer-column-two img{
  width: 423px;
  height: 423px;
  margin-top: -5px;
  border: 10px solid red;
  border-radius: 360px;
  padding: 20px;
}
 
  
  .offer-column-three{
  width: 276px;
  height: 170px;
  display: flex;
  flex-direction: column;
  }
  .offer-column-three span{
  color:#ff0000;
  font-size:48px;
  margin-top: 63px;
  display: block;
  padding-left: 40px;

  }
  .offer-column-three p{
  
  font-size:20px;
  padding: 10px;
  color:#0702118e
  

  }
  .offer-column-three #img{
  
 margin-top: 60px;
  

  }
  .offer-column-img{
  width: 276px;
  height: 170px;
  }
  /* dicount section styling start */
  #discount-container{
    display:flex;
    justify-content: center;
    margin: 0 auto;
  }
  .discount{
    width:1320px;
    height: 986px;
    margin: 0 auto;
    margin-top: 34px;
    position:relative;

  }
  .discount .discount-title{
    font-size: 24px;
    font-weight: 500;
    color:#070211;
    text-align: center;
    margin-top: 20px;

  }
  .discount .sale-para{
   
    color:#070211;
    text-align: center;
    font-size: 72px;
    font-family: "Merriweather", serif;
  

  }
  .discount span{
    color: #ff0000;

  }
  .discount #discount-img{
    position: absolute;
    bottom: -5px;
  }
  .discount #discount-flower{
    position: absolute;
    bottom: 60px;
    left: 65px;
    z-index: 9;
  }
  .discount #discount-bag{
    position: absolute;
    bottom: 224px;
    right: 0px;
    z-index:9;
  }
  .discount #discount-50{
    position: absolute;
    bottom: 284px;
    right: 275px;
    z-index: 20;
  }
  .discount .sale-paragraph{
    color:#0702116a;
    font-size: 20px;
    text-align: center;
  }
  .portfolio{
    width:1320px;
    height: 1132px;
    border: 2px solid green;
    margin: 0 auto;
    

  }
  /* portfolio section styling */
  .porfolio-container{
    width: 1320px;
    height: 1195px;
    
  }
  .portfolio-title{
    font-size:24px ;
    color:#ff0000;

  }
  .portfolio-subtitle{
    font-size:48px;
    padding-top: 26px;
  }
  .portfolio-para{
    font-size:20px;
    color: #07021180;
    padding-top: 38px;
    padding-bottom: 30px;

  }

  .card-container{
    width:1320px;
    height: 900px;
    padding-top:10px ;
    margin-top: 1px;
    
   
  }
  .card-cotainer .card img{
    width: 424px;
    height:450px ;
  }

  /* subscribe-section-styling */
  .subscribe-container{
   width: 1320px;
   height: 616px;
   background:#fff2f2;
   margin-top:34px;
  }
  .subscribe-container .subscribe-title{
  font-size: 48px;
  text-align: center;
  font-family: "merriweather",sans-serif;
  margin-top: 34px;
  }
  .subscribe-container .subscribe-para{
  font-size: 20px;
  text-align: center;
  color:#0702115e;
  width: 60%;
  margin: 0 auto;
  margin-top: 34px;
  }
  .subscribe-container #subscribe-input-button{
    display:flex;
    justify-content: center;
    margin-top: 34px;
  }
  .subscribe-container input{
   height: 45px;
   width: 263px;
   border:none;
   border-top-left-radius: 26px;
   border-bottom-left-radius: 26px;
   padding: 1px;
  }
  .subscribe-container input::-webkit-input-placeholder {
  /* Placeholder styles here */
  color: #999;
  font-style: italic;
  padding-left: 20px;
  font-size: 20px;
}

.subscribe-container input::placeholder {
 
  color: #999;
  font-style: italic;
  padding-left: 20px;
  font-size: 20px;
}

.subscribe-container input::-moz-placeholder {  /* For Firefox */
  padding-left: 20px;
  font-size: 20px;
}

.subscribe-container input:-ms-input-placeholder {  /* For Internet Explorer */
  padding-left: 20px;
  font-size: 20px;
}
  .subscribe-container button{
  height: 48px;
  width: 113px;
   border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  background: #ff0000;
  color:white;
  margin-left: -1px;
  font-size: 20px;
  
}
  /* footer styling start */
  footer{
    width: 100%;
    height: 600px;
    background: #000;
    color:#fff;
    margin-top: 50px;

  }
  footer #footer-right{
  position:relative;
  padding-bottom: 30px;
  }
  footer #footer-right #footer-call-img{
  position: absolute;
  left: -23px;
  height: 15px;


  }
  footer #footer-right #footer-website-img{
  position: absolute;
  left: -23px;
  bottom: 30px;
  height: 15px;


  }
  footer  #footer-icons-main-container{
    
  border-top: 1.3px solid #fff;
  height: 250px;
  border-bottom: 1.3px solid #fff;
  width: 1320px;
 
  margin: 0 auto;
  display: flex;
  justify-content: center;

  }
  footer  #footer-icons-container{
  display:flex;
  justify-content: center;
  gap: 10px;
  padding-top: 88px;

  }
  footer  #footer-last-text{
  display:flex;
  width: 80%;
  justify-content: space-between;
   margin:0 aut0;

  }
  footer  #footer-last-container{
  display:flex;
  justify-content: center;
  padding-top: 50px;

  } 
</style>